<div class="container">
  <div class="about-cards-presentation">
    <div class="about-card-presentation card-blue">
      <h1>About me 🚀</h1>
      <p>👩‍💻 Full Stack Web Developer. <br>
      27y/o Belgian-Luxembourgish living in Melbourne. <br>
      Passionate by Front-End and Web Design. <br>
      Still in the process of learning. <br> <br>
      I'm a huge fan of art, nature, animation movies & food.
      </p>

      <p><i class="fas fa-envelope"></i> Contact me</p>
      <p>mathilde.peiffer@hotmail.com</p>
    </div>

    <div class="about-card-presentation">
      <h1>Education</h1>
      <div class="education-container">
        <div class="education">
          <%= image_tag "schools/LeWagon.jpg"%>
          <p><strong>Fullstack Bootcamp  </strong><br> Le Wagon, Melbourne <br>July 2021-September 2021</p>
        </div>

        <div class="education">
          <%= image_tag"schools/SaintLuc.jpg"%>
          <p><strong>Master in industrial design  </strong><br> Saint-Luc, Liege <br>2013 - 2018</p>
        </div>

        <div class="education">
          <%= image_tag"schools/EstonianAcademy.png"%>
          <p><strong>Master in industrial design  </strong><br> Eesti Kunstiakadeemia, Tallinn <br>2016-2017</p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-skills">
    <div class="btn-about-skills"><i class="fab fa-html5"></i> HTML</div>
    <div class="btn-about-skills"><i class="fab fa-js-square"></i> JavaScript</div>
    <div class="btn-about-skills"><i class="fab fa-css3-alt"></i> CSS</div>
    <div class="btn-about-skills">Ruby on Rails</div>
    <div class="btn-about-skills"><i class="fab fa-react"></i>React</div>
    <div class="btn-about-skills"><i class="fab fa-node"></i>Node.js</div>
    <div class="btn-about-skills"><i class="fab fa-bootstrap"></i> Bootstrap</div>
    <div class="btn-about-skills">Heroku</div>
    <div class="btn-about-skills"><i class="fab fa-github"></i> GitHub</div>
    <div class="btn-about-skills">Ruby</div>
    <div class="btn-about-skills"><i class="fab fa-figma"></i> Figma</div>
    <div class="btn-about-skills">KeyShot</div>
    <div class="btn-about-skills">AutoDesk Fusion 360</div>
    <div class="btn-about-skills">SolidWorks</div>
    <div class="btn-about-skills">SketchUp</div>
    <div class="btn-about-skills">Adobe Illustrator</div>
    <div class="btn-about-skills">Adobe InDesign</div>
    <div class="btn-about-skills">Adobe Photoshop</div>
    <div class="btn-about-skills">PTC Creo</div>
    <div class="btn-about-skills">ZBrush</div>
    <div class="btn-about-skills">AutoCAD</div>
    <div class="btn-about-skills">Microsoft PowerPoint</div>
    <div class="btn-about-skills">Canvas</div>
    <div class="btn-about-skills">WordPress</div>
  </div>

  <div class="container-clock">
    <div class="clock gradient">
      <div class="clock-face">
        <div class="hand hour-hand"></div>
        <div class="hand min-hand"></div>
        <div class="hand second-hand"></div>
      </div>
    </div>

    <script>
      const secondHand = document.querySelector('.second-hand');
      const minsHand = document.querySelector('.min-hand');
      const hourHand = document.querySelector('.hour-hand');

      function setDate() {
        const now = new Date();

        const seconds = now.getSeconds();
        const secondsDegrees = ((seconds / 60) * 360) + 90;
        secondHand.style.transform = `rotate(${secondsDegrees}deg)`;

        const mins = now.getMinutes();
        const minsDegrees = ((mins / 60) * 360) + ((seconds/60)*6) + 90;
        minsHand.style.transform = `rotate(${minsDegrees}deg)`;

        const hour = now.getHours();
        const hourDegrees = ((hour / 12) * 360) + ((mins/60)*30) + 90;
        hourHand.style.transform = `rotate(${hourDegrees}deg)`;
      }

      setInterval(setDate, 1000);

      setDate();

    </script>
  </div>

  <div class="about-whatilove">
    <h4>What I love</h4>
    <div class="cards-illu">
      <div class="card-illu">
        <p class="text-muted">Web Development</p>
        <%= image_tag"whatilove/Webdev.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Creation</p>
        <%= image_tag"whatilove/Creation.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Travel</p>
        <%= image_tag"whatilove/Travelling.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Code</p>
        <%= image_tag"whatilove/Code.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Art</p>
        <%= image_tag"whatilove/Art.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Food</p>
        <%= image_tag"whatilove/Food.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Outdoor Adventures</p>
        <%= image_tag"whatilove/OutdoorAdventures.svg"%>
      </div>
      <div class="card-illu">
        <p class="text-muted">Design</p>
        <%= image_tag"whatilove/Design.svg"%>
      </div>
    </div>
  </div>

  <div class="about-places">
    <div class="card-black">
      <h2>My favorite places in Australia</h2>
      <div class="three-pictures">
        <div class="pictures">
          <div class="polaroid"><%= image_tag 'CapeTribulation.JPG' %></div>
        </div>
        <div class="pictures">
          <div class="polaroid"><%= image_tag 'Exmouth.jpg' %></div>
        </div>
        <div class="pictures">
          <div class="polaroid"><%= image_tag 'Uluru.jpg' %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-navigation">
    <li>
      <a href="https://www.behance.net/MathildePeiffer" target="_blank">
        <i class="fab fa-behance-square"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mathilde-peiffer/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/mathildepeiffer/?hl=fr" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/Mathildepfr" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
    </li>
  </div>
</div>
