<div class="container">
  <div class="home-cards-presentation">
    <div class="home-card-presentation">
      <h1>Hi, my name is <strong>Mathilde</strong></h1>
      <p>I love front-end web development. <br>
      This is my portfolio. <br>
      My journey as a web developer has just started. <br>
      Learn more about me, <%= link_to "here", about_path %>
      </p>
      <h1>👩‍💻</h1>
    </div>

    <div class="home-card-presentation card-blue">
      <div class="skills">
        <h2>Skills</h2>
        <div class="navigation">
          <i class="fab fa-html5"></i>
          <i class="fab fa-css3-alt"></i>
          <i class="fab fa-js-square"></i>
          <i class="fab fa-adobe"></i>
          <i class="fas fa-cubes"></i>
        </div>
      </div>

      <div class= "social-links">
        <h2>Social links</h2>
        <div class="navigation">
          <li>
            <a href="https://www.behance.net/MathildePeiffer" target="_blank">
              <i class="fab fa-behance-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mathilde-peiffer/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/mathildepeiffer/?hl=fr" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Mathildepfr" target="_blank">
              <i class="fab fa-github-square"></i>
            </a>
          </li>
        </div>
      </div>

      <div class="languages">
        <h2>Languages</h2>
        <div class="navigation">
          <div class="btn btn-languages">
            French
          </div>
          <div class="btn btn-languages">
            English
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-dark">
  <div class="technologies-cards">
    <div class="technologies">
      <%= image_tag "ui.svg"%>
      <h3><strong>Front-End</strong></h3>
      <p>HTML, CSS, JS, Frameworks, React, Node.js, Bootstrap, Responsive Design, Web Accessibility</p>
    </div>
    <div class="technologies">
      <%= image_tag "backend.svg"%>
      <h3><strong>Back-End</strong></h3>
      <p>Ruby, Ruby on Rails, Databases, PostgreSQL, SQL, API, Git</p>
    </div>
    <div class="technologies">
      <%= image_tag "ux.svg"%>
      <h3><strong>UI/UX</strong></h3>
      <p>Prototyping, Figma, Sketch, User Stories, Interaction Design, Visual Communication</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="home-projects">
    <div class="home-projects-card">
      <%= link_to artco_path(@artco) do %>
        <%= image_tag "mockup-art-co.png", alt:"Art Co landing page", class:"img-fluid  img-project"%>
      <% end %>
      <p>Art Co</p>
    </div>

    <div class="home-projects-card">
      <%= link_to movies_path(@movies) do %>
        <%= image_tag "Movies-computer.jpg", alt:"Movies landing page", class:"img-fluid  img-project"%>
      <% end %>
      <p>Movies & Lists</p>
    </div>

    <div class="home-projects-card">
      <%= link_to homeweb_path(@homeweb) do %>
        <%= image_tag "mockup-home.png", alt:"Staying Home", class:"img-fluid  img-project"%>
      <% end %>
      <p>Staying Home</p>
    </div>

    <div class="home-projects-card">
      <%= link_to fooddelivery_path(@fooddelivery) do %>
        <%= image_tag "mockup-food-delivery.png", alt:"Food Delivery", class:"img-fluid  img-project"%>
      <% end %>
      <p>Food delivery</p>
    </div>

    <div class="home-projects-card">
      <%= link_to hatsrats_path(@hatsrats) do %>
        <%= image_tag "mockup-rats.png", alt:"Hats for Rats landing page", class:"img-fluid  img-project"%>
      <% end %>
      <p>Hats for Rats</p>
    </div>

    <div class="home-projects-card">
      <%= link_to infocards_path(@infocards) do %>
        <%= image_tag "mockup-info-cards.png", alt:"Info Cards", class:"img-fluid  img-project"%>
      <% end %>
      <p>Info Cards</p>
    </div>

    <div class="home-projects-card">
      <%= link_to flats_path(@flats) do %>
        <%= image_tag "mockup-airbnb-computer2.png", alt:"Flat", class:"img-fluid  img-project"%>
      <% end %>
      <p>Rent Flats</p>
    </div>

    <div class="home-projects-card">
      <%= link_to mapwagon_path(@mapwagon) do %>
        <%= image_tag "mockup-wagon.png", alt:"Map Le Wagon", class:"img-fluid  img-project"%>
      <% end %>
      <p>Map Le Wagon</p>
    </div>

    <div class="home-projects-card">
      <%= link_to landingpage_path(@landingpage) do %>
        <%= image_tag "mockup-lp.png", alt:"Landing page", class:"img-fluid  img-project"%>
      <% end %>
      <p>Landing Page</p>
    </div>

    <div class="home-projects-card">
      <%= link_to restaurant_path(@restaurant) do %>
        <%= image_tag "mockup-restaurant.png", alt:"Mexican Restaurant", class:"img-fluid  img-project"%>
      <% end %>
      <p>Mexican Restaurant</p>
    </div>

  </div>
</div>

<div class="container-dark">
  <h2>Feel free to reach out via <a href="https://www.linkedin.com/in/mathilde-peiffer/" target="_blank">LinkedIn</a></h2>
  <h4>Or check my <a href="https://github.com/Mathildepfr" target="_blank">GitHub</a></h4>
  <a href="https://www.linkedin.com/in/mathilde-peiffer/" target="_blank"><i class="fas fa-handshake"></i></a>
</div>

<div class="container">
  <div class="home-behance">
    <h4>Industrial & Graphic Design projects</h4>
    <div class="home-cards-behance">
      <div class="home-card-behance">
        <%= image_tag 'portfolio/maison.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Light.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Boxes.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Drawings.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Plant.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Forge.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Divan.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/SchoolboyQ.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/Desk.jpg'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/the.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/newyork.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/jeu.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/tiffin.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/backpack.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/table.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/beaute.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/serious.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/photos.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/studiomame.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/vin.png'%>
      </div>
      <div class="home-card-behance">
        <%= image_tag 'portfolio/evier.png'%>
      </div>
    </div>
  </div>
</div>

<div class="contact-me">
  <a href="https://www.linkedin.com/in/mathilde-peiffer/" target="_blank">
    <%= image_tag "contactme.svg", alt:"Contact me"%>
  </a>
  <p><a href="https://www.linkedin.com/in/mathilde-peiffer/" target="_blank">Contact me today</a></p>
</div>

<div class="footer">
  <h4>Thank you for visiting my website!</h4>
</div>
